html, body {
    background-image: url('6kIbad.jpg');
    height: 100%;
    margin: 0 auto;
}
.wrapper {
    background: linear-gradient(90deg, #070916e8 0%, #1a192e7c 50%, #090b1adc 100%);
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    min-width: min-content;
}
header {
    color: white;
    padding-top: 50px;
    margin-bottom: 100px;
}
button {
    margin: 50px 50px;
    padding: .75em 2em;
}
