html, body {
    background-image: url('6kIbad.jpg');
    height: 100%;
    margin: 0 auto;
}
.wrapper {
    background: linear-gradient(90deg, #070916e8 0%, #1a192e7c 50%, #090b1adc 100%);
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    min-width: min-content;
}
header {
    color: white;
    padding-top: 50px;
    margin-bottom: 100px;
}
button {
    margin: 50px 50px;
    padding: .75em 2em;
}
p {
    position: absolute;
    top: 590px;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    color: white;
    padding: 30px;
    width: 460px;
}
.hidden {
    display: none;
}
@media only screen and (max-width: 560px) {
    .wrapper {
        width: 100%;
        min-width: none;
    }
    header {
        padding: 2%;
    }
    button {
        margin: 20px 20px;
        padding: .5em 1.5em;
    }
    iframe {
        width: 100%
    }
    p {
        width: 100%;
        top: 600px;
    }
}