html {
    background-image: url('6kIbad.jpg');
}
.wrapper {
    background-color: #0d0c13b4;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    min-width: min-content;
}
header {
    color: white;
    margin-top: -25px;
    padding-top: 50px;
    margin-bottom: 100px;
}
button {
    margin: 50px 50px;
    padding: .75em 2em;
}
